footer { 
    border-top: 1px solid var(--color-linea); 
    background-color: var(--color-orokorra); 
    color: var(--color-txuria); 
    padding: 20px 0;   
} 

.footerra{ 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    width: 80%; 
    margin: auto; 
    gap: 20px;
} 

/* Footer logoa eta deskribapena */ 


.footer-logoa a { 
    color: var(--color-hirugarrena); 
    text-decoration: none; 
    font-size: 1.4rem; 
    font-weight: 700px; 
} 

.footer-deskribapena { 
    font-size: 0.85rem; 
    color: var(--color-laugarrena); 
} 

/* Footer nabigazio linkak */ 

.footer-estekak { 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
} 

.footer-tituloa { 
    font-size: 0.75rem; 
    font-weight: 700; 
    text-transform: uppercase; 
    color: var(--color-hirugarrena); 
    margin-bottom: 4px; 
} 

.footer-estekak a { 
    color: var(--color-laugarrena); 
    text-decoration: none; 
    font-size: 0.9rem; 
} 

.footer-estekak a:hover { 
    color: var(--color-txuria); 
} 

/* Footer kontaktua */ 

.footer-kontaktua { 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
}

/* Footer azpikoa */ 

.footer-azpian {
    text-align: center;
    border-top: 1px solid var(--color-linea); 
    padding: 20px 0px 0px 0px;
    margin-top: 20px; 
}