/* ------ SARRERA ------ */

main {
  background-color: var(--color-orokorra);
  color: var(--color-txuria);
}

.hasiera {
  position: relative;
  width: 80%;
  height: 350px;
  margin: auto;
  margin-top: 140px;
}

.hasiera h2{
  text-align: center;
  color: black;
}

.sarrera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tituloa {
  font-size: 120%;
  color: var(--color-txuria);
  background-color: rgba(200, 151, 58, 0.453);
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}

.deskribapena {
  color: var(--color-laugarrena);
}

.herriz-herri {
  font-size: 250%;
  margin-bottom: 10px;
}

.estatistikak {
  display: flex;
  gap: 48px;
  justify-content: center;
  padding: 30px;
}

.estatistikak div {
  text-align: center;
}

.estatistikak div span {
  display: block;
}

.estatistikak div span:first-child {
  font-size: 150%;
}

.estatistikak div span:last-child {
  font-size: 80%;
}


.txapelketa_akt > img {
  filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 355px; 
  object-fit: cover; 
  object-position: center; 
}

.informazioa {
  width: 100%;
  margin: auto;
}

.historia {
  padding: 30px;
  background-color: var(--color-bigarrena);
  text-align: center;
}

.historia p {
  margin-top: 20px;
  color: var(--color-laugarrena);
}

.historia img,
.helburuak img {
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
}

.helburuak h2 {
  margin-bottom: 20px;
}

.helburuak {
  padding: 30px;
   text-align: center;
  background-color: rgb(169, 132, 63);
  color: var(--color-orokorra);
  margin-bottom: 20px;
}

