:root {
  --color-orokorra: black;
  --color-bigarrena: rgba(49, 49, 49, 0.601);
  --color-hirugarrena: #c8973a;
  --color-laugarrena: rgb(137, 137, 137);
  --color-txuria: white;
  --color-linea: rgba(255, 255, 255, 0.212);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    background-color: var(--color-orokorra);
}