.container {
  width: 80%;
  margin: auto;
  position: relative;
  margin-top: 100px;
  margin-bottom: 20px;
}

h1 {
  color: var(--color-txuria);
  text-align: left;
  margin-bottom: 5px;
}

.deskribapena {
  color: var(--color-laugarrena);
  margin-bottom: 20px;
  font-size: 1em;
}

.table-scroll {
  width: 100%;
  height: 500px;
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

table {
  border: 2px solid var(--color-bigarrena);
  width: 100%;
  border-collapse: collapse;
  background-color:rgba(23, 23, 23, 0.729);
  border-radius: 12px;
}

th {
  background-color: var(--color-bigarrena);
  color: var(--color-hirugarrena);
  padding: 14px 10px;
  text-align: left;
  white-space: nowrap;
}

td {
  padding: 14px 10px;
  border-bottom: 1px solid var(--color-orokorra);
  color: var(--color-laugarrena);
  white-space: nowrap;
}

tr:last-child td {
  border-bottom: none;
}