main {
    background-color: var(--color-orokorra);
    color: var(--color-txuria);
    min-height: 80dvh;
    position: relative;
    margin-top: 60px;
}

.sariak{
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 40px 0px;
}

.sariak-header {
    text-align: left;
    margin-bottom: 48px;
}

.sariak-titulua {
    color: var(--color-txuria);
    margin-bottom: 8px;
}

.sariak-azpititulua {
    font-size: 1rem;
    color: var(--color-laugarrena);
}


.txapelketa-blokea {
    margin-bottom: 48px;
}

.txap-izena {
    font-size: 1.5rem;
    color: var(--color-txuria);
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-orokorra);
}

/* -- Sariak -- */

.sariak-zerrenda {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.saria-karta {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px 20px;
    border-radius: 10px;
    border: 1px solid var(--color-orokorra);
    background-color: var(--color-bigarrena);
}

.saria-1  { border-left: 4px solid var(--color-hirugarrena); }
.saria-2  { border-left: 4px solid #e3e4e5 }
.saria-3  { border-left: 4px solid #bf8970 ; }
.saria-txikia { border-left: 4px solid var(--color-orokorra);}

.saria-ikonoa {
    font-size: 2rem;
    width: 48px;
    text-align: center;
}


.saria-posizioa {
    font-size: 0.75rem;
    font-weight: 600px;
    text-transform: uppercase;
    color: var(--color-laugarrena);
    margin-bottom: 4px;
}

.saria-deskribapena {
    font-size: 0.95rem;
    color: var(--color-txuria);
}
