.txapelketak{
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 90px;
    background-color: var(--color-orokorra);
}

.txapelketak>h1{
    color: var(--color-txuria);
    margin-bottom: 30px;
}

#azalpena{
    color: var(--color-laugarrena);

}

.filtroak{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.filtro_barra> select{
    padding: 7px 17px;
    border-radius: 5px;
    background-color: var(--color-bigarrena);
    color: var(--color-laugarrena);
}

.filtro_barra> select>option{
background-color: var(--color-bigarrena);
color: var(--color-txuria);
border-radius: 3px;
}

.filtro_btn > select>option:nth-child(1){
    margin: 20px 20px 20px 0px;
}
.filtro_btn > select>option:nth-child(2){
    margin: 20px 20px 20px 0px;
}
.filtro_btn > select>option:nth-child(3){
    margin: 0px 20px 20px 0px;
}
.filtro_btn > select>option:nth-child(4){
    margin: 0px 20px 20px 0px;
}

.egoera.n{
    background-color: aqua;
    color: blue;
}