.txapelketa_bakoitza{
    width: 100%;
    height: auto;
    padding: 20px;
    color: var(--color-laugarrena);
    margin-bottom: 20px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
    background-color: var(--color-bigarrena);
}

.titulu_txap{
    color: var(--color-txuria);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.egoera{
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--color-txuria);
    background: rgba(42,107,69,0.2);
}

.linea{
    border-top: 2px solid var(--color-txuria);
    width: 100%;
}

.IzenEmaten{
    background-color: rgba(42,107,69,0.2);
    color: #5dba85;
}

.Amaituta{
    background-color: rgba(135, 41, 22, 0.46);
    color: #b86b5d;
}

.Jolasten{
    background-color: rgba(190, 166, 45, 0.46);
    color: #cdd189;
}